/* Header */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--header-padding);
    border-bottom: var(--border);
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: var(--text-lg);
    letter-spacing: -0.05em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1;
}

.logo-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-gray-800);
    margin-bottom: var(--logo-gap);
    font-family: var(--font-main);
}

.logo-abbr {
    font-size: var(--text-lg);
    font-weight: 700;
    letter-spacing: -0.05em;
}

.header-subtitle {
    display: flex;
    gap: 5px;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    color: var(--color-gray-800);
}